{%extends 'base.html'%}

{%block content%}
    
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-horizontal" method="POST" action="">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.kd_buku.label(class="control-label col-sm-4")}}
                    <div class="col-sm-8">
                        {{form.kd_buku(class="form-control")}}
                    </div>
                </div>
                <div class="form-group">
                        {{form.judul.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">
                            {{form.judul(class="form-control")}}
                        </div>
                </div>
                <div class="form-group">
                        {{form.pengarang.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">
                            {{form.pengarang(class="form-control")}}
                        </div>
                </div>
                <div class="form-group">
                        {{form.penerbit.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">
                            {{form.penerbit(class="form-control")}}
                        </div>
                </div>
                <div class="form-group">
                        {{form.tahun_terbit.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">
                            {{form.tahun_terbit(class="form-control")}}
                        </div>
                </div>
                <div class="form-group">
                    {{form.submit(class="col-sm-offset-4 btn btn-success")}}
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Kode Buku</th>
                <th>Judul Buku</th>
                <th>Pengarang</th>
                <th>Penerbit</th>
                <th>Tahun Terbit</th>
              </tr>
            </thead>
            <tbody>
                {%for b in buku%}
                    <tr>
                        <td>{{b.kd_buku}}</td>
                        <td>{{b.judul}}</td>
                        <td>{{b.pengarang}}</td>
                        <td>{{b.penerbit}}</td>
                        <td>{{b.tahun_terbit}}</td>
                        <td>
                            <a href="{{url_for('edit_buku', id=b.id)}}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{url_for('delete_buku', id=b.id)}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {%endfor%}

            </tbody>
        </table>
        </div>
    </div>
{%endblock%}